<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Port" value="com2"/>
    <add key="BaudRate" value="1200"/>
    <add key="Plant" value="W6"/>
    <add key="Plants" value="W1|W3|W5|W6|W7|W8|W22"/>
    <add key="W6ConvertMachine" value="k|L|r|s|v" />
  </appSettings>
</configuration>