<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Port" value="com2"/>
    <add key="BaudRate" value="1200"/>
    <add key="Plant" value="W6"/>
    <add key="W6ConvertMachine" value="k:924FFG-鼎龙-5C|L:1227FFG-长声-5C|r:1228RDC-鼎龙-5C|s:1632RDC-鼎龙-4C|v:930FFG-三菱-4C" />
  </appSettings>
</configuration>